<h2> Edit <%= @note.subject.capitalize %> </h2>

<h4> written by: <%= @note.user.email %>
<%= render partial: 'form_note', locals: {note: @note} %>
<%= link_to "Delete Note", @note, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this topic?' } %>
<!-- be able to change name and subject -->
<!-- be able to edit cards -->
