<div class="media">
  <div class="media-body">
    <h5 class="media-heading">
      <%= link_to flashcard.question, test_set_flashcard_path(@test_set, flashcard) %>
      <small> <%= flashcard.description %> </small>
    </h5>
  </div>
</div>
