<div class="media">
  <div class="media-body" style="text-align:center">
    <h2>Finished. Submit for grading or double check?</h2>


      <div id="finalscore">
        <%= @ts_array.size%>
        <%= button_to "grading", class:'btn btn-success' %>
      </div>
  </div>
</div>
