<div class="media">
  <div class="media-body" style="text-align:center">
    <h2>Finished. Submit for grading or double check?</h2>
      <div id="finalscore">
        <%= link_to 'grading', grading_test_set_path, remote: true %>
      </div>
  </div>
</div>
