<div class="media">
  <div class="media-body" style="text-align:center">
    <h5 class="media-heading">
      <%= link_to multiple_choice.question, test_set_multiple_choice_path(@test_set, multiple_choice) %>
      <small> <%= multiple_choice.correct_answer %> </small>
        <div class="form-group">
        <%= index %>
        <%= select_tag(("user_answer#{index.to_s}"), options_for_select([[multiple_choice.a, 1],[multiple_choice.b, 2],[multiple_choice.c, 3],[multiple_choice.d, 4]],1), class: "form-control") %>
        </div>
    </h5>
  </div>
</div>
