<div class="media">
  <div class="media-body" style="text-align:center">
    <h5 class="media-heading">
      <%= link_to flashcard.question, test_set_flashcard_path(@test_set, flashcard) %>
      <small> <%= flashcard.description %> </small>
      <%= form_tag grading_test_set_path do |f| %>
        <div class="form-group">
          <%= f.text_field "user_answer" + index.to_s, class: 'form-control', placeholder: "your answer here" %>
      <% end %>
      </div>
    </h5>
  </div>
</div>
