<div class="media">
  <div class="media-body">
    <h5 class="media-heading">
      <%= link_to true_false.question, test_set_true_false_path(@test_set, true_false) %>
      <small> <%= true_false.correct_answer%> </small>
    </h5>
  </div>
</div>
