this is the grading partial

<h3>array: <%= @array_answers %></h3>

<h3>user: <%= @user_answers %></h3>

<h3>score: <%= "#{@score} / #{@array_answers.size}" %>

above is where the answers are suppose to be
