<h1> Account Info </h1>
<%= link_to "New StayFreshers set", new_test_set_path(@test_set), class: 'btn btn-success'  %>
<%= render @test_sets %>
<%= link_to "New Notes", new_note_path(@note),class: 'btn btn-success' %>
<%= render @notes %>
